body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav a {
  text-decoration: none;
  color: black;
}

.nav a.active {
  color: pink;
}

.listitems {
  list-style-type: none;
}

.fileitem {
  cursor: pointer;
}

.fileitem a {
  text-decoration: none;
  color: black;
}

.fileitem:hover {
  text-decoration: underline;
  font-weight: 800;
}

main {
  position: relative;
}

.loader-block {
  width: 100%;
  height: 100vh;
  background-color: rgb(173, 173, 173);
  opacity: .7;
  position: absolute;
  display: none;
  transition-duration: .2s;
}

.show {
  display: block
}